    <!-- ######### HTML FOR ABOUT SECTION STARTS HERE ######## -->

    <section class="about" id="about">
        <div class="container">
          <div class="row" data-aos="fade-right">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center mb-3">
                <h2 class="text-capitalize">
                  about 
                <span>
                  me
                </span>
              </h2>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="about-info">
                    <h3 class="mb-3">
                      Hi there! I'm Shubham Shilvane, <br>
                      a passionate Front End Developer based in Hyderabad, India
                    </h3>
                    <ul>
                      <li>
                        I'm a Front End Developer who thrives on solving complex problems and turning ideas into reality.
                        I bring 3+ years of experience to the table and genuine love for what i do.
                      </li>
                      <li>
                        I'm known for my strong understanding of Angular Framework and html/css/javascript as they are fundamental to web development & angular.
                      </li>
                      <li>
                        Knowledge of responsive web design using css framework like Bootsrap, Media query & Angular Material.
                      </li>
                      <li>
                        Experience working in Agile Methodologies, participating in sprint planning.
                      </li>
                      <li>
                        I'm truly passionate about the opportunity to create delightful user experience.
                      </li>
                      <li>
                        I'm constantly motivated by the ever-evolving nature of web technologies, solving complex problems, innovation and creativity in my field.
                      </li>
                      <li>
                        Love working with diverse teams to achieve common goals and commited to delivering high quality results and exceeding expectation.
                      </li>
                      <li>
                        I'm always interested in new opportunities, collaborations and networking. Please feel free to
                        <a href="#contact">
                          contact me
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
