     <!-- ######### HTML FOR EDUCATION AND EXPERIENCE SECTION STARTS HERE ######## -->


     <section class="work" id="work">
        <div class="container">
          <div class="row">
            
            <div class="col col-12 col-md-6" data-aos="fade-right">
              <header class="title mt-4 mt-md-0">
                <h2>WORK EXPERIENCE</h2>
              </header>
              <div class="contents">
                <div class="box">
                  <h4>2022 - Present</h4>
                  <h3>OSSS Consulting services Pvt Ltd</h3>
                  <p>Front-End Angular Developer.</p>
                  <ul>
                    <li>Led the front-end development for an E-commerce domain, ensuring a seamless and user-friendly experience. The major services include sales of electrical accessories like transformers, solar panels, motors and batteries using Angular 10th version and also another e-commerce project includes sales of Ice-creams using Angular 16th version.
                    </li>
                    <li>Implemented responsive web design techniques such as bootstrap and media query to ensure that the e-commerce website functions well across various devices and screen sizes, providing a consistent user experience on desktops, tablets, and smartphones.
                      </li>
                      <li>
                        Created different modules, components, pipes, directives, generic component in Angular as per business requirements.
                      </li>
                  </ul>
                </div>
  
  
                <div class="box">
                  <h4>2021 - 2022</h4>
                  <h3>OSSS Consulting services Pvt Ltd</h3>
                  <p>Front End UI Developer. (Xporience)</p>
                  <ul>
                    <li>Converted PSD into responsive HTML using Bootstrap 3.</li>
                    <li>As a Front End UI Developer Developed application for both desktop and mobile operating systems and Fixing issues raised by team.</li>
                    <li>
                      Created interactions using JavaScript and also used jQuery Plugins.
                    </li>
                    <li>
                      Kept up-to-date with the latest trends and advancements in Angular and web development to continuously 
                      improve skills and knowledge.
                    </li>
                  </ul>
                </div>
  
  
              </div>
            </div>
  
            <div class="col col-12 col-md-6" data-aos="fade-right">
              <header class="title">
                <h2>EDUCATION</h2>
              </header>
              <div class="contents">
                <div class="box">
                  <h4>2017 - 2020</h4>
                  <h3>Bachelor's Degree</h3>
                  <p>
                    Shivaji Mahavidhyalaya College
                  </p>
                  <ul>
                    <li>Completed Batchelor's with CGPA of <strong>9.06</strong>, Grade : <strong>O</strong>.</li>
                    <li>During my academic year part of social activity called <strong>National Service Scheme</strong>.</li>
                    <li>Along with my degree, completed basic computer courses like Typing(40WPM), MS-CIT and FrontEnd Languages such as HTML5, CSS, JavaScript, TypeScript, Angular, Angular Material,
                      Bootstrap,etc.
                    </li>
                    <li>
                      Created a team of 5 students to build multiple projects using HTML, CSS, JavaScript, Angular, Angular Material, Bootstrop, Ajax,etc. 
                    </li>
                  </ul>
                </div>
              </div>
    
            </div>
          
          
          </div>
         </div>
       </section>
