    <!-- ######### HTML FOR CONTACT SECTION STARTS HERE ######## -->
    
    <section class="contact" id="contact">
        <div class="container">
          <div class="row">
  
            <div class="col-12 mb-5">
              <div class="content text-center text-white">
                <h2>Contact Me</h2>
                <p>Let's Connect and Create Something Amazing Together!</p>
              </div>
            </div>
  
            <div class="col-12 col-md-6" data-aos="fade-right">
              <div class="contactInfo">
      
                <div class="boxx">
                  <div class="icon">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                  </div>
                    <div class="text">
                      <h3>Address</h3>
                      <p>Sri Ram Colony, <br>
                        Near Vijaylaxmi Garden, <br>
                        Hyderabad, Telangana <br>
                        500077
                      </p>
                    </div>
                </div>
      
                <div class="boxx">
                  <div class="icon">
                    <fa-icon [icon]="faPhone"></fa-icon>
                  </div>
                    <div class="text">
                      <h3>Phone</h3>
                      <p>
                        <a href="tel:+91 9637014535" target="_blank">+91 9637014535</a>
                      </p>
                    </div>
                </div>
      
                <div class="boxx">
                  <div class="icon">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                  </div>
                    <div class="text">
                      <h3>Email</h3>
                      <p>
                        <a href="mailto:shubhamshilvane1296@gmail.com" target="_blank">shubhamshilvane1296&#64;gmail.com</a>
                      </p>
                    </div>
                </div>
      
              </div>
            </div>
  
            <div class="col-12 col-md-6" data-aos="fade-right">
              <div class="contactform">
                <form>
                  <h2>Send Message</h2>
                  <div class="form-group">
                    <input type="text" name="" required class="form-control">
                    <span>Fullname</span>
                  </div>
                  <div class="form-group">
                    <input type="text" name="" required class="form-control">
                    <span>Email</span>
                  </div>
                  <div class="form-group">
                    <textarea type="text" name="" rows="4" required class="form-control"></textarea>
                    <span>Type your Message...</span>
                  </div>
                  <div class="form-group">
                    <input type="submit" name="" required value="Send" class="btn">
                  </div>
                  <p class="alert alert-danger text-center">
                    Sending messages is currently unavailable. Please contact us via phone or email. Thank you for your understanding!
                  </p>
                </form>
              </div>
            </div>
  
          </div>
        </div>
      </section>
