<footer class="footer py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="socialIcons mb-2">
            <a href="https://www.linkedin.com/in/shubhamshilvane/" target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a href="https://github.com/Shubham-96k" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
          </div>
          <div class="footerbottom">
            <p class="m-0">Copyright &copy;Shubham 2024. All Rights Reserved. Designed and Developed with Passion.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>






  <!-- ######## fixed position html ########## -->

  <div class="upbtn" *ngIf="isButtonVisible"
  (click)="scrollToTop()">
    <fa-icon [icon]="faArrowUp"></fa-icon>
  </div>
